input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
}

.contenedor{
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
}

tr, td{
    width: 100%; 
}