ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .contenedor{
    width: 50%;
    background-color: #f2f2f2;
    padding: 20px;
    position:fixed;
    right: 25%;
    bottom: 25%;
    margin: auto;
    animation-name: aparecer;
    animation-duration: 4s;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

input[name='boton']{
    border-style: none;
    color:black;
    font-weight: bold;
    font-size: 15pt;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(75, 72, 72);
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#cerrar{
    background-color: rgb(109, 35, 35);
    color: white;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    cursor: pointer;
    border-style: none;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px ;
}

.complete{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
}

@keyframes aparecer{
    from {opacity: 0}
     to {opacity: 1}
}